<div class="container">
    <div class = "place-details">
        <div class="row well">
            <div class="col-md-offset-2 col-md-4">
                <img class="details-page-img img-responsive pull-right" ng-src="{{placeDetails.photo}}" />
            </div>
            <div class="col-md-4">
                <div class="place-text-details">
                    <i class="fa fa-fort-awesome"></i>&nbsp;<b class="place-heading">{{placeDetails.name}}</b><br>
                    <span ng-if="placeDetails.address"><i class="fa fa-map-marker fa-3"></i>&nbsp;{{placeDetails.address}} <br></span>
                    <span ng-if="placeDetails.phone"><i class="fa fa-phone-square fa-5"></i>&nbsp;{{placeDetails.phone}} <br></span>
                    <span ng-if="placeDetails.website"><i class="fa fa-external-link-square"></i>&nbsp;<a ng-href="{{placeDetails.website}}" target="_blank"> Website</a> <br></span>
                    <span ng-if="placeDetails.rating"><i class="fa fa-star"></i>&nbsp;{{placeDetails.rating}} <br></span>
                    <br>
                </div>
            </div>
        </div>
        <div class="row" id="mytabs">
            <uib-tabset justified="true">
                <uib-tab heading="Reviews">
                    <div class="no-content" ng-if ="placeDetails.reviews.length == 0">
                        Sorry, no content found.
                    </div>
                    <div class="table-responsive reviews">
                        <table class="table table-striped">
                            <tr ng-repeat = "review in placeDetails.reviews">
                                <td>"{{review}}"</td>
                            </tr>
                        </table>
                    </div>
                </uib-tab>
                <uib-tab ng-if="placeSummary" heading="Place Summary">
                    <div data-ng-bind-html="placeSummary" class="summary"></div>
                </uib-tab>
                <uib-tab heading="Instagram Posts">
                    <div>
                        <div class="no-content" ng-if ="instagramImagesAndTags.length == 0">
                            Sorry, no content found.
                        </div>
                        <div ng-repeat="post in instagramImagesAndTags" class="col-md-4 col-lg-4 col-sm-6 col-xs-12">
                            <div>
                                <figure class="cap-bot">
                                    <img ng-src="{{post.photo}}" class="search-page-img"/>
                                    <figcaption>
                                        {{post.tags}}
                                    </figcaption>
                                </figure>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="center-block text-center">
                        <a ng-if="!noMoreInstaData" ng-click="paging()" class="button">More</a>
                    </div>

                </uib-tab>
                <uib-tab heading="Twitter Posts">
                    <div class="no-content" ng-if ="twitterPosts.length == 0">
                        Sorry, no content found.
                    </div>
                    <div ng-repeat="tweet in twitterPosts" class="col-md-4 col-lg-4 col-sm-6 col-xs-12">
                        <div>
                            <figure class="cap-bot">
                                <img ng-src="{{tweet.photo}}" class="search-page-img"/>
                                <figcaption>
                                    {{tweet.status}}
                                </figcaption>
                            </figure>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="center-block text-center">
                        <a ng-if="!noMoreTwitterData" ng-click="pagingTwitter()" class="button">More</a>
                    </div>

                </uib-tab>
            </uib-tabset>
        </div>
    </div>
</div>

<!---->
<!---->