<div class="container">
    <div class = "place-details">
        <div class="row">
            <div class="col-md-8">
                <img class="details-page-img img-responsive" ng-src="{{placeDetails.photo}}" />
            </div>
            <div class="col-md-4">
                <div class="place-text-details">
                    <i class="fa fa-fort-awesome"></i>&nbsp;<b class="place-heading">{{placeDetails.name}}</b><br><br>
                    <i class="fa fa-map-marker fa-3"></i>&nbsp;{{placeDetails.address}} <br>
                    <i class="fa fa-phone-square fa-5"></i>&nbsp;{{placeDetails.phone}} <br>
                    <i class="fa fa-external-link-square"></i>&nbsp;<a ng-href="{{placeDetails.website}}" target="_blank"> Website</a> <br>
                    <i class="fa fa-star"></i>&nbsp;{{placeDetails.rating}} <br>
                    <br>
                </div>
            </div>
        </div>

        <div class="row">
            <uib-tabset justified="true">
                <uib-tab heading="Reviews">
                    <div class="table-responsive reviews">
                        <table class="table table-striped">
                            <tr ng-repeat = "review in placeDetails.reviews">
                                <td>"{{review.text}}"</td>
                            </tr>
                        </table>
                    </div>
                </uib-tab>
                <uib-tab heading="Instagram Posts">
                    <div class="no-content" ng-if ="instagramImagesAndTags.length == 0">
                        Sorry, no content found.
                    </div>
                    <div ng-repeat="post in instagramImagesAndTags" class="col-md-4 col-lg-4 col-sm-6 col-xs-12">
                        <div>
                            <figure class="cap-bot">
                                <img ng-src="{{post.photo}}" class="search-page-img"/>
                                <figcaption>
                                    {{post.tags}}
                                </figcaption>
                            </figure>
                        </div>
                    </div>
                </uib-tab>
                <uib-tab heading="Twitter Posts">
                    <div class="no-content" ng-if ="twitterPosts.length == 0">
                        Sorry, no content found.
                    </div>
                    <div ng-repeat="tweet in twitterPosts track by $index" class="col-md-4 col-lg-4 col-sm-6 col-xs-12">
                        <div>
                            <figure class="cap-bot">
                                <img ng-src="{{tweet.photo}}" class="search-page-img"/>
                                <figcaption>
                                    {{tweet.status}}
                                </figcaption>
                            </figure>
                        </div>
                    </div>
                </uib-tab>
            </uib-tabset>
        </div>
    </div>
</div>

<!---->
<!---->