<div class="container">
    <div class = "place-details">
        <div class="row well">
            <div class="col-md-offset-2 col-md-4 col-sm-6">
                <img class="details-page-img img-responsive pull-right" ng-src="{{placeDetails.photo}}" />
                <span ng-if="usernames.length > 0" class="users-like fa fa-thumbs-o-up"></span>
                <span class="users-like" ng-if="usernames.length > 0" ng-repeat = "user in usernames">
                    <a ng-click="followUser(user)">{{user.username}}</a>
                </span>

            </div>
            <div class="col-md-4 col-sm-6">
                <div class="place-text-details">
                    <i class="fa fa-fort-awesome"></i>&nbsp;<b class="place-heading">{{placeDetails.name}}</b><br>
                    <span ng-if="placeDetails.address"><i class="fa fa-map-marker fa-3"></i>&nbsp;{{placeDetails.address}} <br></span>
                    <span ng-if="placeDetails.phone"><i class="fa fa-phone-square fa-5"></i>&nbsp;{{placeDetails.phone}} <br></span>
                    <span ng-if="placeDetails.website"><i class="fa fa-external-link-square"></i>&nbsp;<a ng-href="{{placeDetails.website}}" target="_blank"> Website</a> <br></span>
                    <span ng-if="placeDetails.rating"><i class="fa fa-star"></i>&nbsp;{{placeDetails.rating}} <br></span>
                    <br>
                    <button class="btn btn-primary more-button" ng-click="favorite(placeDetails)">
                        <span ng-show="placeDetails.likes.indexOf(currentUser._id) > -1" class="fa fa-heart"></span>
                        <span ng-show="!placeDetails || !placeDetails.likes || placeDetails.likes.indexOf(currentUser._id) == -1" class="fa fa-heart-o"></span>
                    </button>
                </div>
            </div>
        </div>
        <div class="row" id="mytabs">
            <uib-tabset justified="true">
                <uib-tab heading="Reviews">
                    <div class="no-content" ng-if ="placeDetails.reviews.length == 0">
                        No reviews. Be the first one to review this place!
                    </div>
                    <div class="table-responsive reviews">
                        <table class="table table-striped">
                            <tr ng-repeat = "review in placeDetails.reviews" ng-class="{'success' : $index == commentIndex}">
                                <td>
                                    "{{review}}"
                                    <a ng-if="dc" ng-click="deleteComment($index)"><i class="fa fa-remove"></i></a>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div>
                        <div class="widget-area no-padding blank">
                            <div class="status-upload">
                                <form>
                                    <textarea placeholder="Add a review?" ng-model="comment"></textarea>
                                    <button type="submit" class="btn btn-primary more-button" ng-click="addComment(comment)">Post</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </uib-tab>
                <uib-tab ng-if="placeSummary" heading="Place Summary">
                    <div data-ng-bind-html="placeSummary" class="summary text-justify"></div>
                </uib-tab>
                <uib-tab heading="Instagram Posts">
                    <div>
                        <div class="no-content" ng-if ="instagramImagesAndTags.length == 0">
                            Sorry, no content found.
                        </div>
                        <div ng-repeat="post in instagramImagesAndTags" class="col-md-4 col-lg-4 col-sm-6 col-xs-12 insta-img">
                            <div>
                                <figure class="cap-bot">
                                    <img ng-src="{{post.photo}}" class="search-page-img"/>
                                    <figcaption>
                                        {{post.tags}}
                                        <button class="btn btn-primary" ng-click="likePhoto(post)">
                                            <span ng-show="likedPhotos.indexOf(post.photo) > -1" class="fa fa-heart"></span>
                                            <span ng-show = "likedPhotos.indexOf(post.photo) === -1" class="fa fa-heart-o"></span>
                                        </button>
                                    </figcaption>
                                </figure>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="center-block text-center">
                        <a ng-if="moreInsta" ng-click="paging()" class="button more-button">More</a>
                    </div>
                    <div ng-if="!moreInsta && loading">
                        <div class="spinner"></div>
                    </div>

                </uib-tab>
                <uib-tab heading="Twitter Posts">
                    <div class="no-content" ng-if ="twitterPosts.length == 0">
                        Sorry, no content found.
                    </div>
                    <div ng-repeat="tweet in twitterPosts" class="col-md-4 col-lg-4 col-sm-6 col-xs-12">
                        <div>
                            <figure class="cap-bot">
                                <img ng-src="{{tweet.photo}}" class="search-page-img"/>
                                <figcaption>
                                    {{tweet.tags}}
                                    <button class="btn btn-primary" ng-click="likePhoto(tweet)">
                                        <span ng-show="likedPhotos.indexOf(tweet.photo) > -1" class="fa fa-heart"></span>
                                        <span ng-show = "likedPhotos.indexOf(tweet.photo) === -1" class="fa fa-heart-o"></span>
                                    </button>
                                </figcaption>
                            </figure>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="center-block text-center">
                        <a ng-if="moreTwit" ng-click="pagingTwitter()" class="button more-button">More</a>
                    </div>
                    <div ng-if="!moreTwit && loadingT">
                        <div class="spinner"></div>
                    </div>

                </uib-tab>
            </uib-tabset>
        </div>
    </div>
</div>

<!---->
<!---->