<h2>Admin</h2>
<h3>Users</h3>

<div class="table-responsive">
    <table class="table table-striped">
        <thead>
        <tr>
            <th><a class="glyphicon glyphicon-triangle-bottom admin-sort-links"></a>Username</th>
            <th><a class="glyphicon glyphicon-triangle-bottom admin-sort-links "></a>Password</th>
            <th><a class="glyphicon glyphicon-triangle-bottom admin-sort-links"></a>Role</th>
            <th><a class="glyphicon glyphicon-triangle-bottom admin-sort-links"></a>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>
                <div class="form-group">
                    <input type="text" class="form-control" id="inputUsername" placeholder="username">
                </div>
            </td>
            <td>
                <div class="form-group">
                    <input type="password" class="form-control" id="inputPassword" placeholder="password">
                </div>
            </td>
            <td>
                <div class="form-group">
                    <input type="text" class="form-control" id="role" placeholder="role1, role2">
                </div>
            </td>
            <td class="admin-actions-links wrap-white-spacing">
                <div>
                    <a class="glyphicon glyphicon-plus"></a>
                    <a class="glyphicon glyphicon glyphicon-ok"></a>
                </div>
            </td>
        </tr>
        <tr>
            <td>alice</td>
            <td></td>
            <td>student</td>
            <td class="admin-actions-links wrap-white-spacing">
                <a class="glyphicon glyphicon-remove"></a>
                <a class="glyphicon glyphicon glyphicon-pencil"></a>
            </td>
        </tr>
        <tr>
            <td>bob</td>
            <td></td>
            <td>admin | faculty</td>
            <td class="admin-actions-links wrap-white-spacing">
                <a class="glyphicon glyphicon-remove"></a>
                <a class="glyphicon glyphicon glyphicon-pencil"></a>
            </td>
        </tr>
        <tr>
            <td>charlie</td>
            <td></td>
            <td></td>
            <td class="admin-actions-links wrap-white-spacing">
                <a class="glyphicon glyphicon-remove"></a>
                <a class="glyphicon glyphicon glyphicon-pencil"></a>
            </td>
        </tr>
        </tbody>
    </table>
</div>