<h2>Forms</h2>
<ul class="nav nav-tabs">
    <li role="presentation" class="active"><a href="#">Forms</a></li>
    <li role="presentation"><a href="form-fields.view.html">Fields</a></li>
</ul>
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
        <tr>
            <th><a class="glyphicon glyphicon-triangle-bottom admin-sort-links"></a>Form Name</th>
            <th><a class="glyphicon glyphicon-triangle-bottom admin-sort-links"></a>Action</th>
        </tr>
        <tbody>
        <tr>
            <td>
                <div class="form-group">
                    <input ng-model="inputForm" type="text" class="form-control" id="inputFormName" placeholder="name">
                </div>
            </td>
            <td class="form-action-links wrap-white-spacing">
                <div>
                    <a ng-click="addForm(inputForm)" class="glyphicon glyphicon-plus"></a>
                    <a class="glyphicon glyphicon glyphicon-ok"></a>
                </div>
            </td>
        </tr>
        <tr>
            <td><a href="form-fields.view.html">Registration Form</a></td>
            <td class="form-action-links wrap-white-spacing">
                <a class="glyphicon glyphicon-remove"></a>
                <a class="glyphicon glyphicon glyphicon-pencil"></a>
            </td>
        </tr>
        <tr>
            <td><a href="form-fields.view.html">Contact List</a></td>
            <td class="form-action-links wrap-white-spacing">
                <a class="glyphicon glyphicon-remove"></a>
                <a class="glyphicon glyphicon glyphicon-pencil"></a>
            </td>
        </tr>
        <tr>
            <td><a href="form-fields.view.html">To Do List</a></td>
            <td class="form-action-links wrap-white-spacing">
                <a class="glyphicon glyphicon-remove"></a>
                <a class="glyphicon glyphicon glyphicon-pencil"></a>
            </td>
        </tr>
        </tbody>
        </thead>
    </table>
</div>

