/* customized styles */

.justify-text {
    text-align: justify;
}
.form-horizontal .control-label{
    text-align:left !important;
}
.wrap-white-spacing {
    white-space: nowrap;
}

a{
    cursor: pointer;
}

a:hover {
    text-decoration: none;
}

.admin-sort-links {
    margin-right: 5px;
    vertical-align: text-top;
}

.admin-actions-links {
    text-align: center;
    font-size: x-large;
}

.form-action-links {
    font-size: x-large;
}

.form-fields-action-links {
    margin-top: 22px;
}

.table-borderless tbody tr td, .table-borderless tbody tr th, .table-borderless thead tr th {
    border: none;
}

.form-divider {
    border: 1px solid;
}

.myOwnClass {
    background-color: #006699;
}

.pleaseWaitDialog {
    position: absolute;
    top: 30%;
    left: 30%;
    margin-top: -25px;
    margin-left: -200px;
    padding: 20px;
}

.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    display: block;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
    outline: 0;
}

.sortorder:after {
    content: '\25b2';
}
.sortorder.reverse:after {
    content: '\25bc';
}