/* customized styles */

body {
    font-family: 'Open Sans', sans-serif;
}

.justify-text {
    text-align: justify;
}
.form-horizontal .control-label{
    text-align:left !important;
}
.wrap-white-spacing {
    white-space: nowrap;
}

a{
    cursor: pointer;
}

a:hover {
    text-decoration: none;
}

.admin-sort-links {
    margin-right: 5px;
    vertical-align: text-top;
}

.admin-actions-links {
    text-align: center;
    font-size: x-large;
}

.form-action-links {
    font-size: x-large;
}

.form-fields-action-links {
    margin-top: 22px;
}

.table-borderless tbody tr td, .table-borderless tbody tr th, .table-borderless thead tr th {
    border: none;
}

.form-divider {
    border: 1px solid;
}

.myOwnClass {
    background-color: #006699;
}

.search-page-img {
    height: 300px;
    width: 100%;
    padding: 10px;
    border: none;
    padding-bottom: 30px;
}

.details-page-img {
    padding: 10px;
    border: none;
    padding-bottom: 30px;
}

.place-text-details {
    padding: 10px;
    font-family: 'Open Sans', sans-serif;
    font-size: large;
}

.reviews {
    font-style: italic;
}

.place-heading {
    font-size: x-large;
}

.place-details {
    padding-top: 15px;
}

.no-content {
    padding:10px;
}

figure {
    display: block;
    position: relative;
    overflow: hidden;
}

/*extra small*/
@media(max-width:767px){
    figcaption {
        position: absolute;
        background: rgba(0,0,0,0.75);
        color: white;
        padding: 10px 20px;
        opacity: 1;
        bottom: 30px; left:15px;
    }
}
/* Small */
@media(min-width:768px) and (max-width:991px){
    figcaption {
        position: absolute;
        background: rgba(0,0,0,0.75);
        color: white;
        padding: 10px 20px;
        opacity: 1;
        bottom: 30px; left:15px;
    }
}
/* Medium and large*/
@media(min-width:992px){
    figcaption {
        position: absolute;
        background: rgba(0,0,0,0.75);
        color: white;
        padding: 10px 20px;

        opacity: 0;
        bottom: 0;
        left: -30%;
        -webkit-transition: all 0.3s ease;
        -moz-transition:    all 0.3s ease;
        -o-transition:      all 0.3s ease;
    }

    figure:hover figcaption {
        opacity: 1;
        left: 0;
    }

    .cap-bot figcaption { left: 0; bottom: -30%;}
    .cap-bot:hover figcaption { bottom: 30px; left:15px; }

    figure:before {
        content: "?";
        position: absolute;
        background: rgba(255,255,255,0.75);
        color: black;
        width: 24px;
        height: 24px;
        -webkit-border-radius: 12px;
        -moz-border-radius:    12px;
        border-radius:         12px;
        text-align: center;
        font-size: 14px;
        line-height: 24px;
        /* Only Fx 4 supporting transitions on psuedo elements so far... */
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        opacity: 0.75;
        bottom: 35px; right: 15px;
    }
    figure:hover:before {
        opacity: 0;
    }
}

.grid {
    border: 1px solid #cccccc;
    list-style: none;
    background: #ffffff;
    box-sizing: border-box;
    -moz-box-sizing : border-box;
    -webkit-transition: all 0.6s ease-out;
    transition: all 0.6s ease-out;
}
.grid-img {
    width: 100%;
    vertical-align: middle;
    -webkit-transition: opacity 0.6s ease-out;
    transition: opacity 0.6s ease-out;
    background-color: #fff;
    opacity: 0;
    visibility: hidden;
}

.grid-img.img-loaded{
    visibility: visible;
    opacity: 1;
}

.limit{
    height:30px;
    overflow-y: scroll;
}

.summary {
    padding:20px;
}

.button {
    display: inline-block;
    height: 50px;
    line-height: 50px;
    padding-right: 70px;
    padding-left: 70px;
    position: relative;
    background-color:rgb(41,127,184);
    color:rgb(255,255,255);
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 15px;


    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    text-shadow:0px 1px 0px rgba(0,0,0,0.5);
    -ms-filter:"progid:DXImageTransform.Microsoft.dropshadow(OffX=0,OffY=1,Color=#ff123852,Positive=true)";zoom:1;
    filter:progid:DXImageTransform.Microsoft.dropshadow(OffX=0,OffY=1,Color=#ff123852,Positive=true);

    -moz-box-shadow:0px 2px 2px rgba(0,0,0,0.2);
    -webkit-box-shadow:0px 2px 2px rgba(0,0,0,0.2);
    box-shadow:0px 2px 2px rgba(0,0,0,0.2);
    -ms-filter:"progid:DXImageTransform.Microsoft.dropshadow(OffX=0,OffY=2,Color=#33000000,Positive=true)";
    filter:progid:DXImageTransform.Microsoft.dropshadow(OffX=0,OffY=2,Color=#33000000,Positive=true);
}

.button span {
    position: absolute;
    left: 0;
    width: 50px;
    background-color:rgba(0,0,0,0.5);

    -webkit-border-top-left-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-bottomleft: 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-right: 1px solid  rgba(0,0,0,0.15);
}

.button:hover span, .button.active span {
    background-color:rgb(0,102,26);
    border-right: 1px solid  rgba(0,0,0,0.3);
}

.button:active {
    margin-top: 2px;
    margin-bottom: 13px;

    -moz-box-shadow:0px 1px 0px rgba(255,255,255,0.5);
    -webkit-box-shadow:0px 1px 0px rgba(255,255,255,0.5);
    box-shadow:0px 1px 0px rgba(255,255,255,0.5);
    -ms-filter:"progid:DXImageTransform.Microsoft.dropshadow(OffX=0,OffY=1,Color=#ccffffff,Positive=true)";
    filter:progid:DXImageTransform.Microsoft.dropshadow(OffX=0,OffY=1,Color=#ccffffff,Positive=true);
}

.button.orange {
    background: #FF7F00;
}

.button.purple {
    background: #8e44ad;
}

.button.turquoise {
    background: #1abc9c;
}


.spinner {
    width: 40px;
    height: 40px;
    background-color: #000;

    margin: 20px auto;
    -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
    animation: sk-rotateplane 1.2s infinite ease-in-out;
}

@-webkit-keyframes sk-rotateplane {
    0% { -webkit-transform: perspective(120px) }
    50% { -webkit-transform: perspective(120px) rotateY(180deg) }
    100% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg) }
}

@keyframes sk-rotateplane {
    0% {
        transform: perspective(120px) rotateX(0deg) rotateY(0deg);
        -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg)
    } 50% {
          transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
          -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg)
      } 100% {
            transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
            -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
        }
}

.like-button {
    position: absolute;
    top: 15px;
    left: 20px;
}

.users-like {
    padding:10px;
}

.insta-img {
    padding-bottom: 10px;
    position: relative;
}

.widget-area {
    background-color: #fff;
    float: left;
    position: relative;
    width: 100%;
    padding-bottom: 20px;
}
.status-upload {
    float: left;
    width: 100%;
}
.status-upload form {
    float: left;
    width: 100%;
}
.status-upload form textarea {
    border: medium none;
    -webkit-border-radius: 4px 4px 0 0;
    -moz-border-radius: 4px 4px 0 0;
    -ms-border-radius: 4px 4px 0 0;
    -o-border-radius: 4px 4px 0 0;
    border-radius: 4px 4px 0 0;
    color: #777777;
    float: left;
    font-size: 16px;
    height: 80px;
    letter-spacing: 0.3px;
    padding: 20px;
    width: 100%;
    resize:vertical;
    outline:none;
    border: 1px solid #F2F2F2;
}

.status-upload form button {
    border: medium none;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    color: #fff;
    font-size: 14px;
    letter-spacing: 0.3px;
    margin-right: 9px;
    margin-top: 9px;
    padding: 6px 15px;
}

.small-screen-search {
    margin-top: 8px;
}

.navbar {
    background-color: #22264b;
}

.navbar-inverse .navbar-nav>.active > a{
    background-color: #22264b;
}

.navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover{
    background-color: #22264b;
}

.navbar-inverse .navbar-nav>li>a {
    color: #e8edf3
}

.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
    color: #e8edf3
}

.glyphicon-search {
    color: #22264b
}

.more-button {
    background-color: #b56969;
    color: #e8edf3;
    border: none;
}

.more-button:hover {
    background-color: #b56969;
    color: white;
}

.fa-heart {
    color: white;
}

.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
    background-color: #22264b;
}
