<div class="container">
    <h4>{{username}}'s favorites</h4>
    <h5 ng-if="likedPlaces.length === 0 && reviewedPlaces.length === 0
    && likedPhotos.length === 0">{{username}} hasn't liked pr reviewed any places yet.</h5>

    <div class="row">
        <div class="col-md-12">
            <div ng-if="likedPlaces.length > 0">
                <h4>Places {{username}} Liked</h4>
                <div ng-repeat="s in slides" class="col-md-4 col-lg-4 col-sm-6 col-xs-12">
                    <div>
                        <figure class="cap-bot">
                            <a><img ng-src="{{s.photo}}" class="search-page-img" ng-click="toLDetailsPage(s.photo)"/></a>
                            <figcaption>
                                {{s.name}}
                            </figcaption>
                        </figure>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div ng-if="reviewedPlaces.length > 0">
                <h4>Places {{username}} Reviewed</h4>
                <div ng-repeat="s in thumbs" class="col-md-4 col-lg-4 col-sm-6 col-xs-12">
                    <div>
                        <figure class="cap-bot">
                            <a><img ng-src="{{s.photo}}" class="search-page-img" ng-click="toRDetailsPage(s.photo)"/></a>
                            <figcaption>
                                {{s.name}}
                            </figcaption>
                        </figure>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div ng-if="likedPhotos.length > 0">
                <h4>Photos {{username}} Liked</h4>
                <div ng-repeat="p in likedPhotos" class="col-md-4 col-lg-4 col-sm-6 col-xs-12">
                    <div>
                        <figure class="cap-bot">
                            <img ng-src="{{p.photo}}" class="search-page-img"/>
                            <figcaption>
                                {{p.tags}}
                                <button class="btn btn-primary" ng-click="likePhoto(p)">
                                    <span ng-show="activeUserLikedPhotos.indexOf(p.photo) > -1" class="fa fa-heart"></span>
                                    <span ng-show = "activeUserLikedPhotos.indexOf(p.photo) === -1" class="fa fa-heart-o"></span>
                                </button>
                            </figcaption>
                        </figure>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>