/* customized styles */

body {
    font-family: 'Open Sans', sans-serif;
}

.justify-text {
    text-align: justify;
}
.form-horizontal .control-label{
    text-align:left !important;
}
.wrap-white-spacing {
    white-space: nowrap;
}

a{
    cursor: pointer;
}

a:hover {
    text-decoration: none;
}

.admin-sort-links {
    margin-right: 5px;
    vertical-align: text-top;
}

.admin-actions-links {
    text-align: center;
    font-size: x-large;
}

.form-action-links {
    font-size: x-large;
}

.form-fields-action-links {
    margin-top: 22px;
}

.table-borderless tbody tr td, .table-borderless tbody tr th, .table-borderless thead tr th {
    border: none;
}

.form-divider {
    border: 1px solid;
}

.myOwnClass {
    background-color: #006699;
}

.search-page-img {
    height: 300px;
    width: 100%;
    padding: 10px;
    border: none;
    padding-bottom: 30px;
}

.details-page-img {
    height: 500px;
    width: 100%;
    padding: 10px;
    border: none;
    padding-bottom: 30px;
}

.place-text-details {
    padding: 10px;
    font-family: 'Open Sans', sans-serif;
    font-size: large;
}

.reviews {
    font-style: italic;
}

.place-heading {
    font-size: x-large;
}

.place-details {
    padding-top: 15px;
}

.no-content {
    padding:10px;
}

figure {
    display: block;
    position: relative;
    overflow: hidden;
}

figcaption {
    position: absolute;
    background: rgba(0,0,0,0.75);
    color: white;
    padding: 10px 20px;

    opacity: 0;
    bottom: 0;
    left: -30%;
    -webkit-transition: all 0.3s ease;
    -moz-transition:    all 0.3s ease;
    -o-transition:      all 0.3s ease;
}

figure:hover figcaption {
    opacity: 1;
    left: 0;
}

.cap-bot figcaption { left: 0; bottom: -30%;}
.cap-bot:hover figcaption { bottom: 30px; left:15px; }

figure:before {
    content: "?";
    position: absolute;
    background: rgba(255,255,255,0.75);
    color: black;
    width: 24px;
    height: 24px;
    -webkit-border-radius: 12px;
    -moz-border-radius:    12px;
    border-radius:         12px;
    text-align: center;
    font-size: 14px;
    line-height: 24px;
    /* Only Fx 4 supporting transitions on psuedo elements so far... */
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    opacity: 0.75;
    bottom: 35px; right: 15px;
}
figure:hover:before {
    opacity: 0;
}


