<h2>Forms</h2>
<ul class="nav nav-tabs">
    <li role="presentation" class="active"><a>Forms</a></li>
    <li role="presentation"><a href="#/form-fields">Fields</a></li>
</ul>
<div class="table-responsive" ng-init="getAllFormsForCurrentUser()">
    <table class="table table-striped">
        <thead>
        <tr>
            <th><a class="glyphicon glyphicon-triangle-bottom admin-sort-links"></a>Form Name</th>
            <th><a class="glyphicon glyphicon-triangle-bottom admin-sort-links"></a>Action</th>
        </tr>
        <tbody>
        <tr>
            <td>
                <div class="form-group">
                    <input ng-model="inputForm.title" type="text" class="form-control" id="inputFormName" placeholder="name">
                </div>
            </td>
            <td class="form-action-links wrap-white-spacing">
                <div>
                    <a ng-click="addForm(inputForm.title)" class="glyphicon glyphicon-plus"></a>
                    <a ng-click="updateForm(inputForm.title)" class="glyphicon glyphicon glyphicon-ok"></a>
                </div>
            </td>
        </tr>
        <tr ng-repeat="form in allForms" ng-class="{'success' : $index == selectedFormIndex}">
            <td><a href="#/form-fields/{{form._id}}">{{form.title}}</a></td>
            <td class="form-action-links wrap-white-spacing">
                <a class="glyphicon glyphicon-remove" ng-click="deleteForm($index)"></a>
                <a class="glyphicon glyphicon glyphicon-pencil" ng-click="selectForm($index)"></a>
            </td>
        </tr>
        </tbody>
        </thead>
    </table>
</div>

