<form class="form-horizontal">
    <h2>Register</h2>
    <div class="form-group">
        <label for="inputUsername" class="col-sm-2 control-label">Username:</label>
        <div class="col-sm-10">
            <input ng-model = "newUser.username" type="text" class="form-control" id="inputUsername" placeholder="Username">
        </div>
    </div>
    <div class="form-group">
        <label for="inputPassword3" class="col-sm-2 control-label">Password:</label>
        <div class="col-sm-10">
            <input ng-model = "newUser.password" type="password" class="form-control" id="inputPassword3" placeholder="Password">
        </div>
    </div>
    <div class="form-group">
        <label for="inputPassword2" class="col-sm-2 control-label"><span>Verify Password:</span></label>
        <div class="col-sm-10">
            <input ng-model = "newUser.confirmPassword" type="password" class="form-control" id="inputPassword2" placeholder="Password">
        </div>
    </div>
    <div class="form-group">
        <label for="inputEmail3" class="col-sm-2 control-label">Email:</label>
        <div class="col-sm-10">
            <input ng-model = "newUser.email" type="email" class="form-control" id="inputEmail3" placeholder="Email">
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" ng-click = "register(newUser)" class="btn btn-primary btn-lg btn-block">Register</button>
        </div>
    </div>
</form>

