<h3>Admin</h3>

<h3>User List</h3>
<div class="table-responsive">
    <table class="table table-striped">
        <tr>
            <td>&nbsp;</td>
            <td>
                <span ng-click="order('username')">username</span>
                <span class="sortorder" ng-show="predicate === 'username'" ng-class="{reverse:reverse}"></span>
                <input ng-model="user.username" class="form-control" placeholder="username"/>
            </td>
            <td>
                <span>password</span>
                <input ng-model="user.password" class="form-control" type="password" placeholder="password"/>
            </td>
            <td>
                <span ng-click="order('firstName')">firstName</span>
                <span class="sortorder" ng-show="predicate === 'firstName'" ng-class="{reverse:reverse}"></span>
                <input ng-model="user.firstName" class="form-control" placeholder="first"/>
            </td>
            <td>
                <span ng-click="order('lastName')">lastName</span>
                <span class="sortorder" ng-show="predicate === 'lastName'" ng-class="{reverse:reverse}"></span>
                <input ng-model="user.lastName" class="form-control" placeholder="last"/>
            </td>
            <td>
                <span>roles</span>
                <input ng-model="user.roles" class="form-control" placeholder="roles"/>
            </td>
            <td>
                <button style="margin-top: 19px;"  ng-click="add(user)" class="btn btn-primary">&plus;</button>
            </td>
            <td><button style="margin-top: 19px;" ng-click="update(user)" class="btn btn-success">&check;</button>
        </tr>

        </tr>
        <tr ng-repeat="user in users | orderBy:predicate:reverse">
            <td>{{user._id}}</td>
            <td>{{user.username}}</td>
            <td>&nbsp;</td>
            <td>{{user.firstName}}</td>
            <td>{{user.lastName}}</td>
            <td>{{user.roles}}</td>
            <td>
                <button ng-click="remove(user)" class="btn btn-danger">X</button>
            </td>
            <td><button ng-click="select(user)" class="btn btn-success">...</button></td>
        </tr>
    </table>
</div>
<div ng-if="error" class="alert alert-danger text-center">
    <p>{{error}}</p>
</div>