<h1>Welcome !</h1>
<p class="justify-text">This site is called WanderMust and it caters to serve the wanderlust of
    travellers interested in seeing the main attraction points of a city.
    It aims at providing the users with the ‘places to visit’ or the
    ‘points of interest’ and not just the places like museums and monuments
    as sometimes even a small coffee shop might be a tourist attraction.
    So the places shown are ranked by prominence. In addition, the users
    will also be shown the latest Instagram and Twitter photos for these places. <br>

    To get started just enter a city in the search box and happy wandering!
</p>



