<div class="container" id="gallery">
    <h2>Places of Interest Around You</h2>
    <ul class="dynamic-grid" angular-grid="HomePOIresults" ag-grid-width="300" ag-gutter-size="10" ag-id="gallery" ag-refresh-on-img-load="true"
        ag-infinite-scroll="myPagingFunction()" ag-scroll-container="gallery">
        <li data-ng-repeat="pic in HomePOIresults" class="grid">
            <a ng-click="selectPOI(pic)" href="">
                <figure class="cap-bot">
                    <img src="{{pic.photo}}" class="grid-img" />
                    <figcaption>
                        {{pic.name}}
                    </figcaption>
                </figure>
            </a>
        </li>
    </ul>
</div>
