<div class="container">
    <h2>Places of Interest in {{city}}</h2>
    <ul ag-infinite-scroll="myPagingFunction()" class="dynamic-grid" angular-grid="POIresults" ag-grid-width="300" ag-gutter-size="10" ag-id="gallery" ag-refresh-on-img-load="true" >
        <li data-ng-repeat="pic in POIresults" class="grid">
            <a ng-click="selectPOI(pic)" href="">
                <figure class="cap-bot">
                    <img src="{{pic.photo}}" class="grid-img" />
                    <figcaption>
                        {{pic.name}}
                    </figcaption>
                </figure>
            </a>
        </li>
    </ul>
</div>
