<div class="container">
    <h3>My favorites</h3>

    <h5 ng-if="likedPlaces.length === 0 && reviewedPlaces.length === 0
    && likedPhotos.length === 0">Your favorites appear here. Please like or review any place to see something here.</h5>

    <div class="row">
        <div class="col-md-12">
            <div ng-if="likedPlaces.length > 0">
                <h4>Places I Liked</h4>
                <div ng-repeat="s in slides" class="col-md-4 col-lg-4 col-sm-6 col-xs-12">
                    <div>
                        <figure class="cap-bot">
                            <a><img ng-src="{{s.photo}}" class="search-page-img" ng-click="toLDetailsPage(s.photo)"/></a>
                            <figcaption>
                                {{s.name}}
                            </figcaption>
                        </figure>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div ng-if="reviewedPlaces.length > 0">
                <h4>Places I Reviewed</h4>
                <div ng-repeat="s in thumbs" class="col-md-4 col-lg-4 col-sm-6 col-xs-12">
                    <div>
                        <figure class="cap-bot">
                            <a><img ng-src="{{s.photo}}" class="search-page-img" ng-click="toRDetailsPage(s.photo)"/></a>
                            <figcaption>
                                {{s.name}}
                            </figcaption>
                        </figure>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="col-md-12">
            <div ng-if="likedPhotos.length > 0">
                <h4>Photos I Liked</h4>
                <ng-gallery images="likedPhotos" downloadSrc='true'>
                </ng-gallery>
            </div>
        </div>
        <div class="col-md-12" ng-if="following.length > 0">
            <h4>Users I Follow</h4>
           <span class="users-like" ng-repeat = "user in following">
                    <a ng-click="followUser(user)">{{user}}</a>
                </span>
        </div>
    </div>
</div>
</div>