<div class="container">
    <h2>My favorites</h2>


    <div class="row">
        <div class="col-md-12">
            <div ng-if="likedPlaces.length > 0">
                <h3>Places I Liked</h3>
                <div ng-repeat="s in slides" class="col-md-4 col-lg-4 col-sm-6 col-xs-12">
                    <div>
                        <figure class="cap-bot">
                            <a><img ng-src="{{s.photo}}" class="search-page-img" ng-click="toLDetailsPage(s.photo)"/></a>
                            <figcaption>
                                {{s.name}}
                            </figcaption>
                        </figure>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div ng-if="reviewedPlaces.length > 0">
                <h3>Places I Reviewed</h3>
                <div ng-repeat="s in thumbs" class="col-md-4 col-lg-4 col-sm-6 col-xs-12">
                    <div>
                        <figure class="cap-bot">
                            <a><img ng-src="{{s.photo}}" class="search-page-img" ng-click="toRDetailsPage(s.photo)"/></a>
                            <figcaption>
                                {{s.name}}
                            </figcaption>
                        </figure>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="col-md-12">
            <div ng-if="likedPhotos.length > 0">
                <h3>Photos I Liked</h3>
                <ng-gallery images="likedPhotos">
                </ng-gallery>
            </div>
        </div>
    </div>
</div>
</div>